<p>
  Añadir comentario:
</p>
<form action="/quizes/<%=quizid%>/comments/" method="post">
  <p>
    <input type="text" id="comment" name="comment[texto]" value="">
  </p>
  <p>
    <button class="btn btn-primary" type="submit">Enviar</button>
  </p>
</form>
