<h3>Datos del autor </h3>

<p style="text-align:center;">
  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/005/095/1e1/3ae8a79.jpg" alt="Rafael Miranda Lagóstena" height="200" width="200">
</p>

<p><strong>Nombre: </strong>Rafael Miranda</p>

<p><strong>Estudios: </strong>Ingeniero Técnico en Informática de Sistemas</p>

<p>Actualmente trabajando en Inicianet como Desarrollador Web</p>

<p><a href="https://www.linkedin.com/pub/rafael-miranda-lag%C3%B3stena/6b/931/4a2">LinkedIn</a></p>
