<!DOCTYPE html>
<html lang="es-ES">

<head>
  <meta charset="utf-8">
  <title>Quiz</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/wide.css" media="only screen and (min-width: 530px) and (min-device-width: 481px)" charset="utf-8">
  <link type="text/css" rel="stylesheet" href="/stylesheets/smartphone.css" media="only screen and (max-width: 480px)" charset="utf-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="page-wrap">
    <header>
      <%if(!session.user){%>
        <span class="pull-right"><a class="btn btn-success" href="/login">Login</a></span>
        <%}else{%>
          <span class="pull-right">
            <span style="color: rgb(51, 122, 183);">Bienvenido </span><strong style="color: rgb(51, 122, 183);"><%= session.user.username%>&nbsp;&nbsp;</strong><a class="btn btn-danger" href="/logout">Logout</a></span>
          <%}%>
            <h2>Quiz: el juego de preguntas</h2>
    </header>

    <nav class="main" id="n1" role="navigation">
      <ul class="nav nav-pills">
        <li class="active"><a href="/">Inicio</a></li>
        <li class="active"><a href="/quizes">Preguntas</a></li>
        <li class="active"><a href="/author">Créditos</a></li>
        <li class="active"><a href="/quizes/statistics">Estadísticas</a></li>
      </ul>
    </nav>

    <section class="main" id="s1">
      <% if (errors.length != 0) { %>
        <span id="ErrorMsgs">
          Corregir errores:
          <br>
          <% for (var i in errors) { %>
            <span>
              <%= errors[i].message %>
            </span>
            <br>
            <% } %>
        </span>
        <% } %>
          <div class="body">
            <%- body %>
          </div>
    </section>

    <footer>
      <a href="http://es.wikipedia.org/wiki/Quiz">
          ¿Qué es un Quiz?
        </a> |
      <a href="https://github.com/falkyr/quiz-2015">
          Proyecto en GitHub
        </a>
    </footer>
  </div>
</body>

</html>
